.edit-page {
    .page-content {
        label {
            text-align: "left";
            min-width: 180px;
        }
        .ant-form-item-control-input-content {
            display: flex;
        }

        .ant-form-item-explain {
            display: flex;
        }

        .form-control-buttons {
            margin-top: 50px;

            .ant-form-item-control-input-content {
                justify-content: space-between;
            }
        }
    }
}
