.app {
    text-align: center;
    height: 100vh;
    overflow: hidden;

    .app-main {
        height: 100vh;

        .app-sider {
            background: #f0f2f5;

            .app-logo {
                padding: 20px;
            }
        }

        .app-body {
            background: #ffffff;

            .app-header {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                background: #eb3117;

                .app-sider-trigger {
                    position: absolute;
                    left: 25px;
                }

                .ant-typography {
                    margin: 0;
                }
            }

            .app-content {
                .page-content {
                    position: absolute;
                    top: 168px;
                    bottom: 0;
                    left: 80px;
                    right: 0;
                    overflow-y: auto;
                    margin-top: 24px;
                    padding: 0 24px 24px 24px;
                }

                &.app-content-sider-opened {
                    .page-content {
                        left: 200px;
                    }
                }
            }
        }
    }
}
